RAILS_ENV=production
# RAILS_LOG_TO_STDOUT=true

# Nginx
# NGINX_WORKER_CONNECTIONS=65535

# Database
# DATABASE_POOL=64
# DATABASE_URL=postgres://postgres:postgres@landscape_db:5432/homeland
DATABASE_NAME=homeland
DATABASE_HOST=landscape_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

REDIS_URL=redis://landscape_redis:6379/1
ELASTICSEARCH_HOST=landscape_search:9200

# App Config
app_name=landscape
https=false
domain=getlandscape.io
# cert_domain=getlandscape.io
# modules=all
# profile_fields=all
# asset_host=
admin_emails=admin0@admin.com
allow_signup=yes
allow_visitor=yes
enable_ipfs=yes
ipfs_gateway=http://getlandscape.io:8080/ipfs/
ipfs_api_base=http://landscape_ipfs:5001

